<footer>
  <hr>
  <p>&copy; Copyright <%= Date.today.year %> Fiddlevent &middot; All Rights Reserved</p>
  <p>Timezone set to <%= link_to(Time.zone.name, {:controller => '/welcome', :action => :set_timezone}, :class => 'remote-modal', :title => 'Change Timezone') %></p>
</footer>