	<!-- Navbar -->
  <div class="navbar navbar-fixed-top ">
    <div class="navbar-inner" id="navigation">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/"><%= t :site_name %></a>
        
        <!-- Navigation -->
        <div class="nav-collapse">  
        <% navigation = main_menu_navigation %>
          <ul class="nav"><% navigation.first.each do |n| -%><%= n -%><% end %></ul>
          <ul class="nav pull-right"><% navigation.second.each do |n| -%><%= n -%><% end %></ul>
        </div>
        <!-- /Navigation -->
        
      </div>
    </div>
  </div>
  <!-- /Navbar -->