  
    <div class="input-append">
      <input type="text" name="query" placeholder="Location" value="<%= params[:query] %>"><button class="btn" type="submit"><i class="icon-search"></i><%= " Search" if params[:query].blank? %></button>
    </div>
  