<div class="map-container" style="height:<%= height %>;width:<%= width %>" data-options="<%= ActiveSupport::JSON.encode(map_options) %>">
  <div class="map-marker" data-options="<%= ActiveSupport::JSON.encode(map_options) %>"></div>
</div>