<%= page_title "Pricing" %>
<p>
  Looking to promote your event with fiddlevent? We offer different features depending upon your buisness needs.
</p>
<div class="row">
  <table class="table table-bordered table-striped span8">
    <thead>
      <tr>
        <th></th>
        <th>Free Plan</th>
        <th>Basic Plan</th>
        <th>Premium Plan</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Creation of Events</th>
        <td class="is-visible">5 / month</td>
        <td class="is-visible">50 / month</td>
        <td class="is-visible">200 / month</td>
      </tr>
      <tr>
        <th>Selective Targeting</th>
        <td class="is-visible">max 10 / event</td>
        <td class="is-visible">unlimited / event</td>
        <td class="is-visible">unlimited / event</td>
      </tr>
      <tr>
        <th>Facebook Integration</th>
        <td class="is-hidden">None</td>
        <td class="is-visible">Yes</td>
        <td class="is-visible">Yes</td>
      </tr>
      <tr>
        <th>Yelp Integration</th>
        <td class="is-hidden">None</td>
        <td class="is-visible">Yes</td>
        <td class="is-visible">Yes</td>
      </tr>
      <tr>
        <th>Statistics</th>
        <td class="is-hidden">None</td>
        <td class="is-hidden">None</td>
        <td class="is-visible">Yes</td>
      </tr>
      <tr>
        <th>Bulk Import</th>
        <td class="is-hidden">None</td>
        <td class="is-hidden">None</td>
        <td class="is-visible">Yes</td>
      </tr>
      <tr>
        <th>Event Export</th>
        <td class="is-hidden">None</td>
        <td class="is-hidden">None</td>
        <td class="is-visible">Yes</td>
      </tr>
      <tr>
        <th>Best For</th>
        <td>
          <ul>
            <li>Personal Users</li>
            <li>Small Clubs and Organizations</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Facebook &amp; Yelp Integration</li>
            <li>Small / Medium Buisnesses</li>
            <li>Medium / Large Clubs and Organizations</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Large Buisnesses</li>
            <li>Mass Event Import</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Pricing</th>
        <td>FREE</td>
        <td>$20 / month</td>
        <td>$80 / month</td>
      </tr>
    </tbody>
  </table>
</div>